.title{
	background-color: red;
}
.texto1{
	background-color: blue;
	color: white;
}
.texto2{
	background-color: orange;
	color: white;
}
.texto3{
	background-color: skyblue;
}

/**
elemento block
div
section
article
aside
footer
nav
ul
ol
li
h1-h6
p

elemento inline
span
strong
cite
mark
img
a














